go 1.21.6

use ./nakedreturn

use ./swapwithgo

use ./definevariables

use ./typeswithgo

use ./typeconversionswithgo

use ./constantswithgo

use ./forloopwithgo

use ./ifconditions

use ./exercise-1-loopsandfunctions

use ./switchstatement

use ./deferkey

use ./pointers

use ./structs

use ./arrays

use ./slices

use ./sliceliterals

use ./slicelengthandcapacity

use ./make-slice

use ./append-slice

use ./range

use ./exercise-2-slices

use ./maps

use ./exercise-3-wordcount

use ./functionswithgo

use ./exercise-4-fibonacciclosure
