go 1.21.6

use ./nakedreturn

use ./swapwithgo

use ./definevariables

use ./typeswithgo

use ./typeconversionswithgo

use ./constantswithgo

use ./forloopwithgo

use ./ifconditions

use ./exercise-1-loopsandfunctions

use ./switchstatement

use ./deferkey
